
.App {
  text-align: center;
}

body{
  background-color: #282c34 !important;
}

.title {
  font-family: Nabla,system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "EDPT" 100,"EHLT" 12;
  font-weight: 400;
}

.key, .keyboard {
  box-shadow: 3px 3px #00000080;
}

.keyboard {
  background-color: #4b5261;
  border: solid;
  border-color: rgba(15,14,19,.432);
  border-radius: 5px;
  border-width: 2px;
  color: #fff;
  margin-top: 16px!important;
}

.key {
  background-color: #ec8e62;
  border: solid;
  border-color: hsla(0,0%,100%,.432);
  border-radius: 5px;
  border-width: 1px;
  color: #410404;
}

.key-success {
  background-color: #4e6844;
  border: solid;
  border-color: rgba(0,0,0,.438);
  border-radius: 5px;
  border-width: 1px;
  color: #90f1b1;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

Video{
  max-width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
